@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "WrProfileDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Profil</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Admin Profil</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <!-- user profile section -->
                            <!-- profile image -->
                            <div class="col-lg-12">
                                <div class="full dis_flex center_text">
                                    <div class="~/pluto-1.0.0/profile_img"><img width="180" class="rounded-circle" src=" @Html.DisplayFor(x => x.WriterImage)" alt="#" /></div>
                                    <div class="profile_contant">
                                        <div class="contact_inner">
                                            <h3>@Html.DisplayFor(x => x.WriterName) @Html.DisplayFor(x => x.WriterSurName)</h3>
                                            <p><strong>Kullancı Aktifliği: </strong>@Html.DisplayFor(x => x.WriterStatus)</p>
                                            <ul class="list-unstyled">
                                                <li>Açıklama : @Html.DisplayFor(x => x.WriterTitle)</li>
                                                <li><i class="fa fa-envelope-o"></i> : @Html.DisplayFor(x => x.WriterMail)</li>
                                                <li>Takipçi : @Html.DisplayFor(x => x.WriterFollower)</li>
                                                <li>Takip Edilen : @Html.DisplayFor(x => x.WriterFollowed)</li>

                                            </ul>
                                        </div>
                                        <div class="user_progress_bar">
                                            <div class="progress_bar">
                                                <!-- Skill Bars -->
                                                <span class="skill" style="width:@Html.DisplayFor(x => x.WriterImage).ToString().Count()%;">Başlık Sayısı <span class="info_valume">@Html.DisplayFor(x => x.WriterImage).ToString().Count()%</span></span>
                                                <div class="progress skill-bar ">
                                                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="@Html.DisplayFor(x => x.WriterImage).ToString().Count()" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(x => x.WriterImage).ToString().Count()%;">
                                                    </div>
                                                </div>
                                                <span class="skill" style="width:@Html.DisplayFor(x => x.WriterFollower).ToString().Count()%;">Takipçi Yüzdesi <span class="info_valume">@Html.DisplayFor(x => x.WriterFollower).ToString().Count()%</span></span>
                                                <div class="progress skill-bar">
                                                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="@Html.DisplayFor(x => x.WriterFollower).ToString().Count()" aria-valuemin="0" aria-valuemax="100000" style="width:@Html.DisplayFor(x => x.WriterFollower).ToString().Count()%;">
                                                    </div>
                                                </div>
                                                <span class="skill" style="width:@Html.DisplayFor(x => x.WriterFollowed).ToString().Count()%;">Takip Edilen Yüzdesi <span class="info_valume">@Html.DisplayFor(x => x.WriterFollowed).ToString().Count()%</span></span>
                                                <div class="progress skill-bar">
                                                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="@Html.DisplayFor(x => x.WriterFollowed).ToString().Count()" aria-valuemin="0" aria-valuemax="100000" style="width:@Html.DisplayFor(x => x.WriterFollowed).ToString().Count()%;">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <a href="/Admin/DeleteWriter/@Html.DisplayFor(x => x.WriterID)" class="btn btn-danger">Hesabı Dondur</a>
                                <a href="/Admin/EditWriter/@Html.DisplayFor(x => x.WriterID)" class="btn btn-success">Hesabı Düzenle</a>
                                <!-- profile contant section -->
                                <!-- end user profile section -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- end row -->
        </div>
        <!-- footer -->
        <div class="container-fluid">
            <div class="footer">
                <p>
                    Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                    Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                </p>
            </div>
        </div>
    </div>
    <!-- end dashboard inner -->
</div>