@model EntityLayer.Concrete.Writer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}



<div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px; height:150px">
        <img src="@Html.DisplayFor(x=>x.WriterImage)"
             alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
             style="width: 150px; height:150px; z-index: 1">
        <a class="btn btn-outline-dark" href="/WriterProfile/EditProfile/@Html.DisplayFor(x=>x.WriterID)" data-mdb-ripple-color="dark"
                style="z-index: 1;">
            Profili Düzenle
        </a>
    </div>
    <div class="ms-3" style="margin-top: 130px;">
        <h5>@Html.DisplayFor(x => x.WriterName) @Html.DisplayFor(x => x.WriterSurName)</h5>
        <p>@Html.DisplayFor(x => x.WriterTitle)</p>
    </div>
</div>
<div class="p-4 text-black" style="background-color: #f8f9fa;">
    <div class="d-flex justify-content-end text-center py-1">
        <div>
            <p class="mb-1 h5">253</p>
            <p class="small text-muted mb-0">Photos</p>
        </div>
        <div class="px-3">
            <p class="mb-1 h5">@Html.DisplayFor(x => x.WriterFollower)</p>
            <p class="small text-muted mb-0">Followers</p>
        </div>
        <div>
            <p class="mb-1 h5">@Html.DisplayFor(x => x.WriterFollowed)</p>
            <p class="small text-muted mb-0">Following</p>
        </div>
    </div>
</div>


<div class="card-body p-4 text-white bg-dark">




    <div class="d-flex justify-content-between align-items-center mb-4">
        <p class="lead fw-normal mb-0">Fotoğraflarım</p>
        <p class="mb-0"><a href="/WriterProfile/IndexOptions/" class="text-muted">Gönderi Düzenle</a></p>
    </div>



    @Html.Action("WpImagePartial", "WriterProfile")


</div>


