@using EntityLayer.Concrete
@model List<Content>

@foreach (var item in Model)

{
    <div class="commented-section mt-3">
        <div class="d-flex flex-row align-items-center commented-user">
            <img class="img-fluid img-responsive rounded-circle mr-2" src="@item.Writer.WriterImage" width="38">  <h5 class="mr-2 ms-2">@item.Writer.WriterName @item.Writer.WriterSurName</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">@item.ContentDate</span>
        </div>
        <div class="comment-text-sm"><span>@item.ContentValue</span></div>
        <div class="reply-section">
           
        </div>
    </div>


}

